# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Database backups & local SQLite files
*.db
*.db-journal
*.db-wal
*.db-shm
*.backup
prisma/sqlite_backup_data.json

# Vitest
vitest.config.ts.timestamp*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
